<div class="proyects">
    <h2 class="pro-title">Proyectos</h2>
    <div class="container-pro">
        <figure>
            <img src="../../../assets/img/Proyecto Numen.png" alt="Proyecto Numen">
            <div class="capa">
                <h3>Bakery eCommerce</h3>
                <a href="#">
                    <i class="fa-brands fa-github"></i>
                </a>
            </div>
        </figure>

        <figure>
            <img src="../../../assets/img/Porfolio arg programa.png" alt="Porfolio Web">
            <div class="capa">
                <h3>Porfolio Web</h3>
                <a href="#">
                    <i class="fa-brands fa-github"></i>
                </a>
            </div>
        </figure>

    </div>
</div>
