<div class="educations">
    <div class="educations-body">
        <h2 class="educations-title">Educación</h2>
        <div class="educations-grid">
            <div class="empty"></div>
            <div class="line"></div>
            <div class="education">
                <div class="education-date">2020</div>
                <div class="education-institution">
                    <img class="logo-education" src="../../../assets/img/logoUTN.png" alt="UTN">
                    Universidad Tecnológica Nacional
                </div>
                <div class="education-specialty">Ingenieria en Sistemas de Información</div>
            </div>
            <div class="education education_left">
                <div class="education-date">2021</div>
                <div class="education-institution">
                    <img class="logo-education" src="../../../assets/img/logoNUMEN.png" alt="NUMEN">
                    NUMEN Academy - Certificado
                </div>
                <div class="education-specialty">Full Stack Web Development</div>
            </div>
            <div class="line"></div>
            <div class="empty"></div>
        </div>
    </div>
</div>