<div class="contacts">
    <div class="container-con">
        <div class="form">
            <div class="contact-info">
                <h3 class="title-con">Mantengámonos en contacto</h3>
                <p class="text">
                    Rellene el formulario y me pondré en contacto con usted dentro de las 24 horas.
                </p>

                <div class="info">
                    <div class="information">
                        <i class="fa-solid fa-location-dot icon-contat"></i>
                        <p>Mendoza, Argentina</p>
                    </div>
                    <div class="information">
                        <i class="fa-solid fa-envelope icon-contat"></i>
                        <p>ayelenchavez1953@gmail.com</p>
                    </div>
                    <div class="information">
                        <i class="fa-solid fa-phone icon-contat"></i>
                        <p>+549 (261)211-4798</p>
                    </div>
                </div>
            </div>

            <div class="contact-form">
                <form action="index.html">
                    <h3 class="title-con">Contacto</h3>
                    <div class="input-container">
                        <input type="text" name="name" class="input">
                        <label for="">Usuario</label>
                        <span>Usuario</span>
                    </div>
                    <div class="input-container">
                        <input type="email" name="email" class="input">
                        <label for="">Gmail</label>
                        <span>Gmail</span>
                    </div>
                    <div class="input-container">
                        <input type="tel" name="phone" class="input">
                        <label for="">Telefono</label>
                        <span>Telefono</span>
                    </div>
                    <div class="input-container textarea">
                        <textarea name="message" class="input"></textarea>
                        <label for="">Mensaje</label>
                        <span>Mensaje</span>
                    </div>
                    <input type="submit" value="Enviar" class="btn"/>
                </form>
            </div>

        </div>
    </div>
</div>
