<div class="about-me">
    <img src="../../../assets/img/perfel.jpg" alt="Me" class="perfil" />
    <div class="container-me">
        <h1>Sobre mi</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt eius debitis ad harum iusto sit corporis porro eos architecto magnam a velit laudantium soluta suscipit laboriosam tempore quos aliquam consequuntur accusamus, perferendis earum corrupti. Fugit eligendi deleniti explicabo. Labore quis nihil, officia delectus temporibus odio officiis animi nisi sit laboriosam!</p>
    </div>
</div>
